:root {
  --white: #FFFFFF;
  --black: #000000;
  --green: #00877C;
  --grey: #BDBDBD;
  --grey-2: #E0E0E0;
  --grey-3: #828282;
  --grey-bg: rgba(223, 229, 235, 0.35);
  --text: #2B3641;

  --wrap: 1160px;
  --wrap-medium: 560px;
  --wrap-small: 450px;

  --gap-desktop: 48px;
  --gap-mobile: 32px;

  --halfGap-desktop: 24px;
  --halfGap-mobile: 16px;
}