.otp-form-sec {}

.otp-form {
  padding-bottom: 80px;

  &__personal-info {
    padding-bottom: 70px;
  }

  &__business-info {
    padding-bottom: 70px;
  }

  &__title {
    @include media(">tiny") {
      padding-bottom: 50px;
    }

    @include media("<=tiny") {
      padding-bottom: 24px;
    }
  }

  &__inputs {
    @include media(">large") {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .otp-input-wrap {
      max-width: 100%;
      flex: calc(50% - 30px);

      &:nth-child(even) {
        @include media(">large") {
          margin-left: 30px;
        }
      }
    }
  }

  &__footer {
    @include media(">tiny") {
      padding-bottom: 70px;
    }
  }

  &__radio-lang {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .otp-input-radio {
      &:not(:last-of-type) {
        margin-right: 36px;
      }
    }
  }

  &__checkboxes {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include media(">large") {
      max-width: 70%;
    }

    .otp-input-checkbox-wrap {
      padding: 12px 0;

      @include media(">large") {
        flex: calc(50% - 40px);
      }
      
      @include media("<=large") {
        flex: 100%;
      }

      &:nth-child(even) {
        
        @include media(">large") {
          margin-left: 40px;
        }
      }
    }
  }

  &__checkbox-extra {
    padding-bottom: 50px;

    a {
      color: $green;
      text-decoration: underline;
    }
  }


  &__subtitle {
    padding-bottom: 22px;

    @include media(">large") {
      margin-left: -$halfGap-desktop;
    }

    @include media(">tiny", "<=large") {
      margin-left: -$halfGap-mobile;
    }
  }

  &__text {
    padding-bottom: 32px;
  }

  &__submit {
    text-align: right;

    &--btn {

    }

    &--text {
      padding-top: 40px;
      line-height: 1.7em;

      &>span {
        color: red;
      }
    }
  }

  .inner {
    @include media(">large") {
      padding-right: $halfGap-desktop;
      padding-left: $halfGap-desktop;
    }

    @include media(">tiny", "<=large") {
      padding-right: $halfGap-mobile;
      padding-left: $halfGap-mobile;
    }
  }
}