{% extends "./template/_layout.nj" %}

{% set pageClass = 'opt-in' %}
{% set lang = 'fr' %}
{% set title = 'Opt-in' %}
{% import "./config/content-fr.nj" as content_fr %}
{% set content = content_fr.content %}

{% import "./config/langs.nj" as langs %}
{% set langs = langs.langs %}

{% block styles %}
  <link rel="stylesheet" href="./styles/opt-in.css">
{% endblock %}

{% block main %}
  {% include "./pages/opt-in/_hero.nj" %}
  {% include "./pages/opt-in/_form.nj" %}
{% endblock %}

{% block scripts %}
  {# <script src="scripts/opt-in.js" defer></script> #}
{% endblock %}