{% extends "./template/_layout.nj" %}

{% set pageClass = 'opt-in' %}
{% set lang = 'it' %}
{% set title = 'Opt-in' %}
{% import "./config/content-it.nj" as content_it %}
{% set content = content_it.content %}

{% import "./config/langs.nj" as langs %}
{% set langs = langs.langs %}

{% block styles %}
  <link rel="stylesheet" href="./styles/opt-in.css">
  {# <link rel="stylesheet" href="https://cloud.mail.mymsd.ch/opt-in_CSS"> #}
{% endblock %}

{% block main %}
  {% include "./pages/opt-in/_hero.nj" %}
  {% include "./pages/opt-in/_form.nj" %}
{% endblock %}

{% block scripts %}{% endblock %}