.otp-footer {
  &__inner {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $green;
    color: $white;
  }

  &__link {
    padding-right: 12px;
    padding-left: 12px;
    position: relative;

    @include media("<=tiny") {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        width: 1px;
      }
    }
  }
}