@import '../scss-variables.scss';
@import '../../general/mixins.scss';

body {
  min-width: $extratiny;
  color: $text;
}

body,
html {
  scroll-behavior: smooth;

  &.js-no-scroll {
    overflow: hidden;
  }
}

.otp-wrap {
  max-width: $wrap;
  width: 100%;
  margin: 0 auto;

  @include media(">tiny") {
    padding-right: $halfGap-desktop;
    padding-left: $halfGap-desktop;
  }

  @include media("<=tiny") {
    padding-right: $halfGap-mobile;
    padding-left: $halfGap-mobile;
  }
}

a {
  color: currentColor;
  font: inherit;
  transition: opacity .2s;

  &:hover {
    opacity: .8;
  }
}